{% if product %}

<div id="{{ product.id }}-{{ parentId }}"
        style="{% if card_list_border %}border-color:{{ card_list_border }};{% endif %}"
 class="product-item {% if select_prod_style %}{{ select_prod_style }} {% else %} style1 {% endif %} {% if product.is_infinite == false and product.quantity <= 0 %}product-item-out-of-stock{% endif %}">
            <div class="mask {% if product.images|length == 0 %} no-image {% endif %}" {% if card_list_border %}style="border-color:{{ card_list_border }};"{% endif %}>
                <a href="/products/{{ product.slug }}" style="display:block;">
                    {% if select_prod_style == 'style1' or not select_prod_style %}
                        {% if show_count and (product.is_infinite or product.quantity > 0) and product.purchase_restrictions.sale_price_period_end %}
                            <script>
                                // {{ product.purchase_restrictions.sale_price_period_end }} covert it from "2025-12-16T20:59:59.000000Z" to 00/00/0000
                                var salePricePeriodEnd = "{{ product.purchase_restrictions.sale_price_period_end }}";
                                var salePricePeriodEndDate = new Date(salePricePeriodEnd);
                                var salePricePeriodEndDate = salePricePeriodEndDate.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' });
                                // to offer counter
                                var offerCounter = document.querySelector('.offer-counter');
                                offerCounter.setAttribute('data-offer-date', salePricePeriodEndDate);
                            </script>
                            <ul class="offer-counter" data-offer-date="{{ product.purchase_restrictions.sale_price_period_end }}">
                                <li>
                                <div class="day count-number">00</div><span class="count-name">{{ locals.days }}</span>
                                </li>
                                <li>
                                <div class="hour count-number">00</div><span class="count-name">{{ locals.hours }}</span>
                                </li>
                                <li>
                                <div class="minute count-number">00</div><span class="count-name">{{ locals.minutes }}</span>
                                </li>
                                <li>
                                <div class="seconds count-number">00</div><span class="count-name">{{ locals.seconds }}</span>
                                </li>
                            </ul>
                        {% endif %}
                    {% endif %}

                    {% if (product.is_infinite == false and product.quantity) <= 0 or (product.discount_percentage and (product.is_infinite or product.quantity > 0)) %}
                        <div class="labels">
                            {% if product.is_infinite == false and product.quantity <= 0 %} 
                                <div class="out-of-stock-label">{{ locals.lbl_error_product_out_of_stock }}</div>
                            {% endif %}
                            {% if product.discount_percentage and (product.is_infinite or product.quantity > 0) %}
                                <span class="product-discount">
                                -{{ product.discount_percentage }}%
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if select_prod_style == 'style1' or not select_prod_style %}
                        {% if product.is_infinite or product.quantity > 0 %}
                        <div class="optionsRepleat">
                            <div class="options">
                                {% if (product.has_options) %}
                                    <small>{{ locals.product_has_options }}</small>
                                {% endif %}

                                {% if not product.is_taxable %}
                                    <small>{{ locals.product_is_not_taxable }}</small>
                                {% endif %}

                                {% if product.badge %}
                                    {% if session.lang.code == 'ar' %}
                                        <small>{{ product.badge.body.ar }}</small>
                                    {% else %}
                                        <small>{{ product.badge.body.en }}</small>
                                    {% endif %}
                                {% endif %}
                                <small class="product-card-bundle-offer" data-bundle-offer-product-id="{{ product.id }}"></small>

                            </div>
                        </div>
                        {% endif %}
                    {% endif %}

                    {% if product.images|length > 0 %}
                            <div class="imagesSlider">
                                    {% for key,image in product.images %}
                                        {% if image['image']['medium'] %}
                                        <div class="image">
                                        <img  id="product-card-img-{{ product.id }}" {% if product.is_infinite == false and product.quantity <= 0 %} style="opacity:0.7;" {% endif %}
                                                        src="{{ imageUrl(image['image']['medium'],{ w: 'auto', q: 'auto', f:'auto' }) }}"
                                                alt="{{ product.name }}" loading="lazy" >
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        {% else %}
                        <div class="image">
                                <img id="product-card-img-{{ product.id }}" width="150" {% if product.is_infinite == false and product.quantity <= 0 %} style="opacity:0.7;" {% endif %}
                                                src="{{ asset_url ~ 'noImage.svg'}}"
                                        alt="{{ product.name }}" loading="lazy" >
                        </div>
                    {% endif %}
                </a>
                <div class="add-to-wishlist" data-wishlist-id="{{ product.id }}">
                    {% if customer %}
                    <a class="fa fa-heart-o" onclick="addToWishlist(this, '{{ product.id }}')" id="wishlist-{{ product.id }}"></a>
                    {% else %}
                    <a class="fa fa-heart-o" href="/auth/login?redirect_to={{ requestUri() }}" id="wishlist-{{ product.id }}"></a>
                    {% endif %}
                    <a class="loader d-none"><i class="fa fa-refresh fa-spin"></i></a>
                </div>
            </div>

        

        <div class="content">
        
            {% if select_prod_style == 'style2' %}
                <div class="product-card-style2-content">
            {% endif %}

            {% if select_prod_style == 'style2' %}
                {% if product.is_infinite or product.quantity > 0 %}
                <div class="optionsRepleat">
                    <div class="options">
                        {% if (product.has_options) %}
                            <small>{{ locals.product_has_options }}</small>
                        {% endif %}

                        {% if not product.is_taxable %}
                            <small>{{ locals.product_is_not_taxable }}</small>
                        {% endif %}

                        {% if product.badge %}
                            {% if session.lang.code == 'ar' %}
                                <small>{{ product.badge.body.ar }}</small>
                            {% else %}
                                <small>{{ product.badge.body.en }}</small>
                            {% endif %}
                        {% endif %}
                        <small class="product-card-bundle-offer" data-bundle-offer-product-id="{{ product.id }}"></small>

                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if product.formatted_sale_price is not null %}
                <div class="price">
                    <span class="oldPrice">{{ product.formatted_price }}</span>
                    <span class="salePrice">{{ product.formatted_sale_price }}</span>
                </div>
            {% else %}
            <div class="price">
                <span class="salePrice">{{ product.formatted_price }}</span>
            </div>
            {% endif %}
            <div class="title">
                <a href="/products/{{ product.slug }}">
                    <span>{{ product.name }}</span>
                </a>
            </div>


            {% if store.is_product_reviews_enabled %}
                {% if hide_rate == false %}
                    {% if product.rating.total_count > 0 %}
                        <div class="product-crd-spec">
                            <div class="rating-wrapper">
                                {% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
                                <span class="rating-count">({{ product.rating.total_count }})</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if select_prod_style == 'style2' and hide_description == false %}
                {% if product.short_description is not empty %}
                    <div class="shortDesc">
                        {{ product.short_description | raw }}
                    </div>
                {% endif %}
            {% endif %}

            {% if select_prod_style == 'style2' %}
                {% if show_count and (product.is_infinite or product.quantity > 0) and product.purchase_restrictions.sale_price_period_end %}
                    <script>
                        // {{ product.purchase_restrictions.sale_price_period_end }} covert it from "2025-12-16T20:59:59.000000Z" to 00/00/0000
                        var salePricePeriodEnd = "{{ product.purchase_restrictions.sale_price_period_end }}";
                        var salePricePeriodEndDate = new Date(salePricePeriodEnd);
                        var salePricePeriodEndDate = salePricePeriodEndDate.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' });
                        // to offer counter
                        var offerCounter = document.querySelector('.offer-counter');
                        offerCounter.setAttribute('data-offer-date', salePricePeriodEndDate);
                    </script>
                    <ul class="offer-counter" data-offer-date="{{ product.purchase_restrictions.sale_price_period_end }}">
                        <li>
                        <div class="day count-number">00</div><span class="count-name">{{ locals.days }}</span>
                        </li>
                        <li>
                        <div class="hour count-number">00</div><span class="count-name">{{ locals.hours }}</span>
                        </li>
                        <li>
                        <div class="minute count-number">00</div><span class="count-name">{{ locals.minutes }}</span>
                        </li>
                        <li>
                        <div class="seconds count-number">00</div><span class="count-name">{{ locals.seconds }}</span>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}

            {% if select_prod_style == 'style2' %}
                </div>
            {% endif %}

            {% if show_payments %}
            <div class="tp-mask payment-methods">
                <div class="tp-marquee">
                </div>
                <div class="tp-marquee">
                </div>
            </div>
            {% endif %}

            <div class="btns">
                {% if product.is_infinite == true or product.quantity >= 0 %} 
                    <div class="addCart {% if product.is_infinite == false and product.quantity <= 0 %} disabled {% endif %}">
                        {% if ( product.has_options ) %}
                            <a class="btn-product-card hbtn1 " href="/products/{{ product.slug }}">
                            <span style="position:absolute;left:0;width:100%;height:100%;z-index:1;color: var(--buttons-color);background-color: var(--buttons-bg-color);" class="add-to-cart-progress d-none"><i class=" fa fa-refresh fa-spin"></i></span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon icon-cart stroke-w-0" aria-hidden="true" focusable="false" role="presentation"><path d="M 16 3 C 13.253906 3 11 5.253906 11 8 L 11 9 L 6.0625 9 L 6 9.9375 L 5 27.9375 L 4.9375 29 L 27.0625 29 L 27 27.9375 L 26 9.9375 L 25.9375 9 L 21 9 L 21 8 C 21 5.253906 18.746094 3 16 3 Z M 16 5 C 17.65625 5 19 6.34375 19 8 L 19 9 L 13 9 L 13 8 C 13 6.34375 14.34375 5 16 5 Z M 7.9375 11 L 11 11 L 11 14 L 13 14 L 13 11 L 19 11 L 19 14 L 21 14 L 21 11 L 24.0625 11 L 24.9375 27 L 7.0625 27 Z"></path></svg>
                            <span class="add-to-cart-text">{{ locals.add_to_cart }}</span>
                            </a>
                        {% else %}
                        <a href="javascript:void(0)" class="btn-product-card  hbtn1 a-shopping-cart" onclick="productCartAddToCart(this,'{{ product.id }}')">
                            <span style="position:absolute;left:0;width:100%;height:100%;z-index:1;color: var(--buttons-color);background-color: var(--buttons-bg-color);" class="add-to-cart-progress d-none"><i class=" fa fa-refresh fa-spin"></i></span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon icon-cart stroke-w-0" aria-hidden="true" focusable="false" role="presentation"><path d="M 16 3 C 13.253906 3 11 5.253906 11 8 L 11 9 L 6.0625 9 L 6 9.9375 L 5 27.9375 L 4.9375 29 L 27.0625 29 L 27 27.9375 L 26 9.9375 L 25.9375 9 L 21 9 L 21 8 C 21 5.253906 18.746094 3 16 3 Z M 16 5 C 17.65625 5 19 6.34375 19 8 L 19 9 L 13 9 L 13 8 C 13 6.34375 14.34375 5 16 5 Z M 7.9375 11 L 11 11 L 11 14 L 13 14 L 13 11 L 19 11 L 19 14 L 21 14 L 21 11 L 24.0625 11 L 24.9375 27 L 7.0625 27 Z"></path></svg>
                            <span class="add-to-cart-text">{{ locals.add_to_cart }}</span>
                        </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function(){
        $(document).ready(function () {
            var intervalId;
            // if length of images is greater than 1 then add hover effect
            if ({{ product.images|length }} > 1) {
                // Hover Effect for Image Transitions
                $("#{{ product.id }}-{{ parentId }}").hover(
                    function () {
                        var images = $(this).find('.image');
                        clearInterval(intervalId);
                        var imagesCount = images.length;
                        var currentImageIndex = 0;

                        // Initialize the hover effect
                        images.css('opacity', 0);
                        $(images[1]).css('opacity', 1);
                        currentImageIndex = 1;

                        // Start image transition loop
                        intervalId = setInterval(function () {
                            $(images[currentImageIndex]).css('opacity', 0);
                            currentImageIndex = (currentImageIndex + 1) % imagesCount;
                            $(images[currentImageIndex]).css('opacity', 1);
                        }, 1000);
                    },
                    function () {
                        clearInterval(intervalId);

                        // Reset images on hover out
                        var images = $(this).find('.image');
                        images.each(function (index, image) {
                            $(image).css('opacity', index === 0 ? 1 : 0);
                        });
                    }
                );
            } else {
                // if length of images is 1 then add hover effect
                var images = $("#{{ product.id }}-{{ parentId }}").find('.image');
                images.css('opacity', 1);
            }

        });

            
    });
</script>

{% endif %}



