{% if not settings.hide_all_section %}
<section section-id="{{ sectionId }}" class="
{% if settings.full_width == false %} container custom-container {% else %} container-fluid {% endif %}
mb-{% if settings.padding_bottom and settings.padding_bottom != 'default' %}{{ settings.padding_bottom }}{% else %}50{% endif %} mt-{% if settings.padding_top and settings.padding_top != 'default' %}{{ settings.padding_top }}{% else %}50{% endif %}" data-lg-scroll-offset="130" data-md-scroll-offset="130" data-sm-scroll-offset="94" 
style="background-clip: content-box;{% if settings.height %} height:{{ settings.height }}px; {% else %} height:1px; {% endif %}{% if settings.color %} background-color:{{ settings.color }}; {% else %} background-color:#f1f1f1; {% endif %}"></section>
{% endif %}
{% schema %}
{
  "name": {
    "ar": "خط فاصل او مسافة",
    "en": "Line or Space"
  },
  "icon": "fal fa-magic",
  "display": true,
  "settings": {
    "full_width" : {
      "type": "checkbox",
      "label": {
        "ar": "",
        "en": ""
      },
      "option": {
        "ar": "عرض بكامل مساحة الشاشة",
        "en": "Full Width"
      },
      "noLabel": true,
      "default": true
    },
    "hide_all_section": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إخفاء القسم",
        "en": "Hide Section"
      },
      "noLabel": true
    },
    "color": {
      "type": "color",
      "label": {
        "ar": "اللون",
        "en": "Color"
      }
    },
    "height": {
      "type": "number",
      "label": {
        "ar": "الارتفاع",
        "en": "Height"
      },
      "info": {
        "ar": "يمكنك تحديد الأرتفاع  بالبكسل 0.5 او 1 2 3",
        "en": "You can set the height in pixels 0.5 or 1 2 3"
      }
    },
    "padding_top" : {
      "type":"select",
      "label": {
        "ar": "التباعد العلوي للقسم القيمة الافتراضية هي (50)",
        "en": "Section Padding Top (Default is 50)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "50"
    },
    "padding_bottom" : {
      "type":"select",
      "label": {
        "ar": "التباعد السفلي للقسم القيمة الافتراضية هي (50)",
        "en": "Section Padding Bottom (Default is 50)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "50"
    }
  }
}
{% endschema %}
