{% if not settings.hide_all_section %}

<div section-id="{{ sectionId }}" 

style="{% if settings.bg_color %}background-color:{{ settings.bg_color }};{% endif %} {% if settings.bg_img %}background-image:url({{ settings.bg_img }});background-size: cover; background-position: center; {% if settings.bg_attachment %} background-attachment: fixed;{% endif %}{% endif %}"
class="textAd pb-{% if settings.padding_bottom and settings.padding_bottom != 'default' %}{{ settings.padding_bottom }}{% else %}80{% endif %} pt-{% if settings.padding_top and settings.padding_top != 'default' %}{{ settings.padding_top }}{% else %}80{% endif %}">
      {% if settings.overlay %}
      <div class="overlay" style="{% if settings.overlay_color %}background-color:{{ settings.overlay_color }};{% endif %} {% if settings.overlay_opacity %}opacity:{{ settings.overlay_opacity }};{% endif %}"></div>
    {% endif %}
  <div class="projects-text-content">
      {% if settings.text1 %}
      <a href="{{ settings.link_first }}" {% if settings.open_new_tab %}target="_blank"{% endif %} {% if settings.text_color %} style="color:{{ settings.text_color }}" {% endif %}>{{ settings.text1 }}</a>
      {% endif %}
      {% if settings.text2 %}
      <a href="{{ settings.link_second }}" {% if settings.open_new_tab %}target="_blank"{% endif %} {% if settings.text_color %} style="color:{{ settings.text_color }}" {% endif %}>{{ settings.text2 }}</a>
      {% endif %}
   <style>
 @media (max-width: 767px) {
  .textAd .projects-text-content{
    gap:10px
  }

  .textAd .projects-text-content a,
  .textAd .projects-text-content a:first-of-type {
      font-size:18px
  }

}

  </style>
  </div>

</div>
{% endif %}

{% schema %}
{
  "name": {
    "ar": "اعلان نصى متحرك",
    "en": "Text Ad"
  }, 
  "icon": "fal fa-text",
  "display": true,
  "settings": {
    "hide_all_section": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إخفاء القسم",
        "en": "Hide Section"
      },
      "noLabel": true
    },
    "padding_top" : {
      "type":"select",
      "label": {
        "ar": "التباعد العلوي للقسم القيمة الافتراضية هي (80)",
        "en": "Section Padding Top (Default is 80)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "80"
    },
    "padding_bottom" : {
      "type":"select",
      "label": {
        "ar": "التباعد السفلي للقسم القيمة الافتراضية هي (80)",
        "en": "Section Padding Bottom (Default is 80)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "80"
    },
    "bg_color": {
      "type": "color",
      "label": {
        "ar": "لون الخلفية",
        "en": "Background Color"
      }
    },
    "bg_img": {
      "type": "image",
      "label": {
        "ar": "صورة الخلفية",
        "en": "Background Image"
      }
    },
    "bg_attachment": {
      "type": "checkbox",
      "option": {
        "ar": "صورة الخلفية متحركة",
        "en": "Background Image is Fixed"
      },
      "info": {
        "ar": "يمكنك تحديد ما إذا كانت صورة الخلفية ستكون متحركة أو ثابتة",
        "en": "You can set if the background image will be fixed or not"
      },
      "noLabel": true
    },
    "overlay": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إظهار الغطاء المتداخل",
        "en": "Show Overlay"
      },
      "noLabel": true
    },
    "overlay_color": {
      "type": "color",
      "label": {
        "ar": "لون الغطاء المتداخل",
        "en": "Overlay Color"
      },
      "default": "#000000"
    },
    "overlay_opacity": {
      "type": "number",
      "label": {
        "ar": "شفافية الغطاء المتداخل",
        "en": "Overlay Opacity"
      },
      "info": {
        "ar": "يمكنك تحديد شفافية الغطاء بين 0 و 1 مثل 0.5",
        "en": "You can set the overlay opacity between 0 and 1 like 0.5"
      },
      "min": 0,
      "max": 1
    },
    "text_color": {
      "type": "color",
      "label": {
        "ar": "لون النصوص",
        "en": "Text Color"
      }
    },
    "open_new_tab": {
      "type": "checkbox",
      "label": {
        "ar": "",
        "en": ""
      },
      "option": {
        "ar": "فتح الروابط في علامة تبويب جديدة",
        "en": "Open links in new tab"
      },
      "noLabel": true,
      "default": false
    },
    "text1": {
      "type": "text",
      "label": {
        "ar": "النص الاول",
        "en": "First Text"
      }
    },
    "link_first": {
      "type": "url",
      "label": {
        "ar": "الرابط الاول",
        "en": "First Link"
      }
    },
    "text2": {
      "type": "text",
      "label": {
        "ar": "النص الثاني",
        "en": "Second Text"
      }
    },
    "link_second": {
      "type": "url",
      "label": {
        "ar": "الرابط الثاني",
        "en": "Second Link"
      }
    }
  }
}
{% endschema %}
