{% if not settings.hide_all_section %}

<div section-id="{{ sectionId }}" 
    style="{% if settings.bg_color %}background-color:{{ settings.bg_color }};{% endif %} {% if settings.bg_img %}background-image:url({{ settings.bg_img }});background-size: cover; background-position: center; {% if settings.bg_attachment %} background-attachment: fixed; {% endif %}{% endif %}"
class="videos pb-{% if settings.padding_bottom and settings.padding_bottom != 'default' %}{{ settings.padding_bottom }}{% else %}80{% endif %} pt-{% if settings.padding_top and settings.padding_top != 'default' %}{{ settings.padding_top }}{% else %}80{% endif %}">

  {% if settings.overlay %}
    <div class="overlay" style="{% if settings.overlay_color %}background-color:{{ settings.overlay_color }};{% endif %} {% if settings.overlay_opacity %}opacity:{{ settings.overlay_opacity }};{% endif %}"></div>
  {% endif %}

  <div class="{% if settings.full_width == false %} container custom-container {% else %} container-fluid {% endif %}">
    {% if settings.sub_title or settings.section_title %}
    <div class="title-area {% if settings.title_center %}center{% endif %} pb-{% if settings.title_padding_bottom and settings.title_padding_bottom != 'default' %}{{ settings.title_padding_bottom }}{% else %}50{% endif %}">
      {% if settings.sub_title %}
        <h4 class="sub-title" style="{% if settings.sub_title_color %}color:{{ settings.sub_title_color }};{% endif %}">{{ settings.sub_title }}</h4>
      {% endif %}
      {% if settings.section_title %}
        <h2 class="section-title"  style="{% if settings.title_color %}color:{{ settings.title_color }};{% endif %}">
          {{ settings.section_title }}
        </h2>
      {% endif %}
    </div>
    {% endif %}
      <div class="slider row">
          {% for index,item in settings.videos %}
              <div class="single-video">
              {% if '.com' in item.video_url %}
                <iframe width="100%" height="100%" src="{{ item.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              {% else %}
                  <iframe
                  src="https://www.tiktok.com/player/v1/{{ item.video_url }}?autoplay=0&amp;controls=1&amp;description=1"
                  width="100%"
                  height="100%"
                  allow="fullscreen"
                  title="TikTok video embed">
                </iframe>
              {% endif %}
            </div>
          {% endfor %}
      </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var arrowNextClass = (window.appDirection === 'ltr') ? 'fa fa-angle-right': 'fa fa-angle-left';
        var arrowPrevClass = (window.appDirection === 'ltr') ? 'fa fa-angle-left' : 'fa fa-angle-right';

        $('[section-id={{ sectionId }}] .slider').slick({
            slidesToShow: {% if settings.items_web %}{{ settings.items_web }}{% else %}5{% endif %},
            slidesToScroll: {% if settings.items_web %}{{ settings.items_web }}{% else %}5{% endif %},
            infinite: {% if settings.infinite %}true{% else %}false{% endif %},
            autoplay: {% if settings.autoplay %}true{% else %}false{% endif %},
            arrows: {% if settings.show_arrows %}true{% else %}false{% endif %},
            dots: {% if settings.dots %}true{% else %}false{% endif %},
            rtl: !(window.appDirection === 'ltr'),
            nextArrow:'<span class="slick-next hbtn1"><i class="'+arrowNextClass+'"></i></span>',
            prevArrow:'<span class="slick-prev hbtn1"><i class="'+arrowPrevClass+'"></i></span>',
            responsive: [
                {
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        centerMode: true,
                        centerPadding: '120px',
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        $('[section-id={{ sectionId }}] .main-slider').slickAnimation();


        $('[section-id={{ sectionId }}] .main-slider').on('beforeChange', function(event, { slideCount: count }, currentSlide, nextSlide){
            var currentImage = $('[section-id={{ sectionId }}] .slider-image-'+nextSlide);
            if(!currentImage.attr('src')){
                currentImage.attr('srcset',currentImage.attr('data-srcset'))
                currentImage.attr('src',currentImage.attr('src'))
            }
        });
    });
</script>
{% endif %}
{% schema %}
{
  "name": {
    "ar": "سلايدر فيديوهات",
    "en": "Videos Slider"
  },
  "icon": "fal fa-filter",
  "display": true,
  "settings": {
    "hide_all_section": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إخفاء القسم",
        "en": "Hide Section"
      },
      "noLabel": true
    },
    "full_width": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "عرض كامل الشاشة",
        "en": "Full Width"
      },
      "noLabel": true,
      "default": false
    },
    "padding_top" : {
      "type":"select",
      "label": {
        "ar": "التباعد العلوي للقسم القيمة الافتراضية هي (80)",
        "en": "Section Padding Top (Default is 80)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "80"
    },
    "padding_bottom" : {
      "type":"select",
      "label": {
        "ar": "التباعد السفلي للقسم القيمة الافتراضية هي (80)",
        "en": "Section Padding Bottom (Default is 80)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "80"
    },
    "sub_title": {
      "type": "text",
      "label": {
        "ar": "العنوان الفرعي",
        "en": "Sub Title"
      }
    },
    "sub_title_color": {
      "type": "color",
      "label": {
        "ar": "لون العنوان الفرعي",
        "en": "Sub Title Color"
      }
    },
    "section_title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "Title"
      }
    },
    "title_color": {
      "type": "color",
      "label": {
        "ar": "لون العنوان",
        "en": "Title Color"
      }
    },
    "title_center": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "توسيط العنوان والعنوان الفرعي",
        "en": "Center Title and Sub Title"
      },
      "noLabel": true
    },
    "title_padding_bottom" : {
      "type":"select",
      "label": {
        "ar": "التباعد السفلي للعنوان القيمة الافتراضية هي (50)",
        "en": "Title Padding Bottom (Default is 50)"
      },
      "options": [
        {
          "value": "default",
          "label": {
            "ar": "القيمة الافتراضية",
            "en": "Default"
          }
        },
        {
          "value": "00",
          "label": {
            "ar": "0",
            "en": "0"
          }
        },
        {
          "value": "10",
          "label": {
            "ar": "10",
            "en": "10"
          }
        },
        {
          "value": "20",
          "label": {
            "ar": "20",
            "en": "20"
          }
        },
        {
          "value": "30",
          "label": {
            "ar": "30",
            "en": "30"
          }
        },
        {
          "value": "40",
          "label": {
            "ar": "40",
            "en": "40"
          }
        },
        {
          "value": "50",
          "label": {
            "ar": "50",
            "en": "50"
          }
        },
        {
          "value": "60",
          "label": {
            "ar": "60",
            "en": "60"
          }
        },
        {
          "value": "70",
          "label": {
            "ar": "70",
            "en": "70"
          }
        },
        {
          "value": "80",
          "label": {
            "ar": "80",
            "en": "80"
          }
        },
        {
          "value": "90",
          "label": {
            "ar": "90",
            "en": "90"
          }
        },
        {
          "value": "100",
          "label": {
            "ar": "100",
            "en": "100"
          }
        },
        {
          "value": "110",
          "label": {
            "ar": "110",
            "en": "110"
          }
        },
        {
          "value": "120",
          "label": {
            "ar": "120",
            "en": "120"
          }
        },
        {
          "value": "130",
          "label": {
            "ar": "130",
            "en": "130"
          }
        },
        {
          "value": "140",
          "label": {
            "ar": "140",
            "en": "140"
          }
        },
        {
          "value": "150",
          "label": {
            "ar": "150",
            "en": "150"
          }
        },
        {
          "value": "160",
          "label": {
            "ar": "160",
            "en": "160"
          }
        },
        {
          "value": "170",
          "label": {
            "ar": "170",
            "en": "170"
          }
        },
        {
          "value": "180",
          "label": {
            "ar": "180",
            "en": "180"
          }
        },
        {
          "value": "190",
          "label": {
            "ar": "190",
            "en": "190"
          }
        },
        {
          "value": "200",
          "label": {
            "ar": "200",
            "en": "200"
          }
        }
      ],
      "default": "80"
    },
    "bg_color": {
      "type": "color",
      "label": {
        "ar": "لون الخلفية",
        "en": "Background Color"
      }
    },
    "bg_img": {
      "type": "image",
      "label": {
        "ar": "صورة الخلفية",
        "en": "Background Image"
      }
    },
    "bg_attachment": {
      "type": "checkbox",
      "option": {
        "ar": "صورة الخلفية متحركة",
        "en": "Background Image is Fixed"
      },
      "info": {
        "ar": "يمكنك تحديد ما إذا كانت صورة الخلفية ستكون متحركة أو ثابتة",
        "en": "You can set if the background image will be fixed or not"
      },
      "noLabel": true
    },
    
    "overlay": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إظهار الغطاء المتداخل",
        "en": "Show Overlay"
      },
      "noLabel": true
    },
    "overlay_color": {
      "type": "color",
      "label": {
        "ar": "لون الغطاء المتداخل",
        "en": "Overlay Color"
      },
      "default": "#000000"
    },
    "overlay_opacity": {
      "type": "number",
      "label": {
        "ar": "شفافية الغطاء المتداخل",
        "en": "Overlay Opacity"
      },
      "info": {
        "ar": "يمكنك تحديد شفافية الغطاء بين 0 و 1 مثل 0.5",
        "en": "You can set the overlay opacity between 0 and 1 like 0.5"
      },
      "min": 0,
      "max": 1
    },
    "autoplay": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "تشغيل تلقائي",
        "en": "Autoplay"
      },
      "noLabel": true,
      "default": false
    },
    "show_arrows": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إظهار الاسهم",
        "en": "Show arrows"
      },
      "noLabel": true,
      "default": true
    },
    "infinite": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "متكررة",
        "en": "Infinite"
      },
      "noLabel": true,
      "default": true
    },
    "dots": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إظهار النقاط",
        "en": "Show dots"
      },
      "noLabel": true,
      "default": false
    },
    "items_web": {
      "type": "select",
      "label": {
        "ar": "عدد العناصر في الويب",
        "en": "Items count web"
      },
      "options": [
        {
          "value": "1",
          "label": {
            "ar": "1 عنصر",
            "en": "1 item"
          }
        },
        {
          "value": "2",
          "label": {
            "ar": "2 عناصر",
            "en": "2 items"
          }
        },
        {
          "value": "3",
          "label": {
            "ar": "3 عناصر",
            "en": "3 items"
          }
        },
        {
          "value": "4",
          "label": {
            "ar": "4 عناصر",
            "en": "4 items"
          }
        },
        {
          "value": "5",
          "label": {
            "ar": "5 عناصر",
            "en": "5 items"
          }
        },
        {
          "value": "6",
          "label": {
            "ar": "6 عناصر",
            "en": "6 items"
          }
        },
        {
          "value": "7",
          "label": {
            "ar": "7 عناصر",
            "en": "7 items"
          }
        }
      ],
      "info": {
        "ar": "يجب الضغط علي حفظ لتفعيل هذا الخيار",
        "en": "You must click on save to activate this option"
      },
      "default": 5
    },
    "videos": {
      "type": "list",
      "noLabel": true,
      "maxItems": 8,
      "info": {
        "ar": "",
        "en": ""
      },
      "settings_label":{
        "ar": "الفيديو",
        "en": "Video"
      },
      "settings": {
        "video_url": {
          "type": "text",
          "label": {
            "ar": "رابط الفيديو",
            "en": "Video URL"
          },
          "info": {
            "ar": "https://www.youtube.com/embed/xxxxidxxxx or tiktok id : xxxxidxxxx",
            "en": "https://www.youtube.com/embed/xxxxidxxxx or tiktok id : xxxxidxxxx"
          }
        }
      }
    }
  }
}
{% endschema %}
